<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"
    />
    <title>Hosted Checkout - example integration</title>
  </head>
  <body>
    <div id="complete-checkout">
      <form method="POST" action="checkout">
        <button type="submit">Pay now</button>
      </form>
    </div>
  </body>
</html>
