<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"
    />
    <title>Embedded Checkout - example integration</title>
        <script src="{{ checkoutJs }}"></script>
  </head>
  <body>
    <div id="bookstore">
      <h1>My Book Store</h1>
      <div>
        <h2>To Kill a Mockingbird</h2>
        <p>Author: Harper Lee</p>
        <p>Price: $10.00</p>
        <div id="complete-checkout">
          <button id="buy-now">Buy now</button>
        </div>
        <div id="payment-form"></div>
      </div>
    </div>
  </body>
  <script>
    async function getCheckoutId() {
      const response = await fetch("/checkout", { method: "POST" });

      if (response.ok) {
        const resp = await response.json();
        if (resp.checkoutId == null || resp.checkoutId === "") {
          console.log("Error: ", resp);
          return;
        }

        if (resp.entityId == null || resp.entityId === "") {
          console.log("Error: ", resp);
          return;
        }

        // Initialize the Checkout instance with the provided configuration
        const checkout = Checkout.initiate({
          // Set the checkout ID and entity ID for the transaction
          checkoutId: resp.checkoutId,
          key: resp.entityId,
          options: {
            // Define the theme settings for the checkout interface
            theme: {
              brand: {
                primary: "#EC5228",
                secondary: "#111927",
              },
              cards: {
                background: "#ffffff",
                backgroundHover: "#F3F3F4",
              },
            },
            // Define the ordering of payment methods for the checkout interface
            ordering: {
              CARD: 1,
              EFTSECURE: 4,
              MASTERPASS: 2,
              CAPITECPAY: 3,
            },
          },

          /**
           * To allow automatic redirect, remove the associated event handler
           * Read more about event handling and redirects here https://developer.peachpayments.com/docs/checkout-embedded-sdk-reference#events
           */
          // Define event handlers for different checkout events
          events: {
            onCompleted: (event) => {
              console.log(event);
              // Stop rendering Embedded Checkout.
              checkout.unmount();
              // Show paid
              document.getElementById("payment-form").innerText = "Paid!";
            },
            onCancelled: (event) => {
              console.log(event);
              // Stop rendering Embedded Checkout.
              checkout.unmount();
              // Show cancelled
              document.getElementById("payment-form").innerText = "Cancelled!";
            },
            onExpired: (event) => {
              console.log(event);
              // Stop rendering Embedded Checkout.
              checkout.unmount();
              // Show expired
              document.getElementById("payment-form").innerText = "Expired!";
            },
          },
        });

        checkout.render("#payment-form");
      }
    }

    // Get the "Buy now" button DOM element
    const buyNowBtn = document.getElementById("buy-now");

    // Assign an action for the onclick event of the button
    buyNowBtn.onclick = (event) => {
      // Prevent the default form submission behavior
      event.preventDefault();

      // Call the getCheckoutId function and then update the DOM element style accordingly
      getCheckoutId().then(() => {
        // Hide the "complete-checkout" div
        document.getElementById("complete-checkout").style.display = "none";
      });

      // Show a loading message while the checkout ID is being fetched
      document.getElementById("complete-checkout").innerHTML = "Loading...";
    };
  </script>
</html>
